<b style="font-size: 30px;">Exploratory data analysis exercise.</b><br>
<b style="font-size: 20px;">Ejercicio de Analisis exploratorio de datos.</b>

Ultra Marathon Races data set obtained from Kagle.<br>
Data set de carreras de ultra maraton obtenidos de Kagle

https://www.kaggle.com/datasets/aiaiaidavid/the-big-dataset-of-ultra-marathon-running/discussion/420633

In [6]:
import pandas as pd 
import seaborn as sns

In [7]:
#Import data from csv file to check what fields and data it contains
#Importamos los datos del archivo csv para observar que campos y datos contiene

marathon_data = pd.read_csv("./TWO_CENTURIES_OF_UM_RACES.csv")

C:\Users\acer\AppData\Local\Temp\ipykernel_1868\2654855480.py:4: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  marathon_data = pd.read_csv("./TWO_CENTURIES_OF_UM_RACES.csv")

In [8]:
print("Columns: "+str(marathon_data.columns))
print("Rows: "+str(marathon_data.shape))

Columns: Index(['Year of event', 'Event dates', 'Event name', 'Event distance/length',
       'Event number of finishers', 'Athlete performance', 'Athlete club',
       'Athlete country', 'Athlete year of birth', 'Athlete gender',
       'Athlete age category', 'Athlete average speed', 'Athlete ID'],
      dtype='object')
Rows: (7461195, 13)

<b style="font-size: 30px;">Data Clean Up.</b> <br>
<b style="font-size: 20px;">Limpieza de datos.</b>
<br>
For this exercise We are only interested in Colombia events<br>
Solo nos interesan los eventos en colombia

In [9]:
marathon_data[marathon_data["Event name"].str.contains('(COL)', regex=False, case=False, na=False)]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
5463,2018,18.03.2018,Pacifik Trail (COL),63km,111,6:19:14 h,NaN,ESP,1985.0,M,M23,9.967,4831
5464,2018,18.03.2018,Pacifik Trail (COL),63km,111,6:19:56 h,NaN,COL,1970.0,M,M45,9.949,4832
5465,2018,18.03.2018,Pacifik Trail (COL),63km,111,6:40:59 h,NaN,PER,1983.0,M,M35,9.427,4833
5466,2018,18.03.2018,Pacifik Trail (COL),63km,111,7:13:32 h,NaN,ARG,1994.0,M,M23,8.719,4834
5467,2018,18.03.2018,Pacifik Trail (COL),63km,111,7:34:39 h,NaN,COL,1967.0,M,M50,8.314,4835
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7017679,1984,04.11.1984,Pan American Race Walking Cup (COL),50km,12,5:05:17 h,NaN,COL,NaN,M,NaN,9827.0,1581311
7017680,1984,04.11.1984,Pan American Race Walking Cup (COL),50km,12,5:08:30 h,NaN,PUR,NaN,M,NaN,9724.0,1581312
7017681,1984,04.11.1984,Pan American Race Walking Cup (COL),50km,12,5:19:19 h,NaN,VEN,1958.0,M,M23,9395.0,1581313
7017682,1984,04.11.1984,Pan American Race Walking Cup (COL),50km,12,5:21:53 h,NaN,PUR,NaN,M,NaN,9320.0,1581314
7017683,1984,04.11.1984,Pan American Race Walking Cup (COL),50km,12,5:37:02 h,NaN,VEN,NaN,M,NaN,8901.0,1581315

In [5]:
marathon_data["Year of event"].unique().sort_values();

AttributeError: 'numpy.ndarray' object has no attribute 'sort_values'